# Auto detect text files and perform LF normalization
* text=auto
Overlay/Paris[[:space:]]-100m.png filter=lfs diff=lfs merge=lfs -text
Overlay/ filter=lfs diff=lfs merge=lfs -text
Overlay/Paris[[:space:]]1m.png filter=lfs diff=lfs merge=lfs -text
